

var QwidgetWidget  = {
  circleStyles: { backgroundColor: 'black', height: '50px', width: '50px', borderRadius: '50%', position: 'absolute', bottom: '0px', right: '5px', cursor: 'pointer' },
  welcome_message: 'send me a note',
  formHTML: '<%= j render "form" %>',
  cssStyles: "<%= asset_url('tailwind.css') %>",
  thanksHTML: '<div id="thanks-note">Thanks!</div>',

  init: function() {
    console.log('initialized working');
    this.showIcon();
    this.plantCss();
  },

  plantCss: function() {
    let stylesheet = document.createElement('link');
    stylesheet.rel = 'stylesheet';
    stylesheet.href = this.cssStyles;
    document.head.append(stylesheet);
  },

  showForm: function () {
    document.body.insertAdjacentHTML('beforeend', this.formHTML);
    document.getElementById('new_message').addEventListener('submit', this.submitForm);
    this.hideIcon();
  },

  hideForm: function () {
    document.getElementById('qwidget_widget').remove();
    this.showIcon();
  },

  hideIcon: function () {
    document.getElementById('qwidget_icon').remove();

  },

  sendMessage: function () {
  },

  showIcon: function () {
    let icon = document.createElement('span');
    icon.id = 'qwidget_icon';
    icon.addEventListener( 'click', this.showForm.bind(this));
    Object.assign(icon.style, this.circleStyles);

    document.body.append(icon);
  },

  sayThanks: function () {
    document.body.insertAdjacentHTML('beforeend', this.thanksHTML);
    var thanksNote = document.getElementById('thanks-note');
    thanksNote.style.display = 'block';

    // Trigger animation
    thanksNote.style.animationPlayState = 'running';

    // Hide the thanks note after the animation ends
    setTimeout(function() {
      thanksNote.style.display = 'none';
    }, 2000); // Duration of the animation in milliseconds

  },

  submitForm: function (e) {
    e.preventDefault();
    let form = e.target;
    fetch(form.action, {
      method: 'POST',
      body: new FormData(form)
    }).then((response) => {
      console.log('success response received! you hide the form and show a thank you message now.');
      QwidgetWidget.sayThanks()
      QwidgetWidget.hideForm();
    })
  }

}


QwidgetWidget.init();
